Sel_CRON/PROD/RU/TS2.x/TS2.1/zz_log.TS2.1-madeheart.ru-prod-ru.html

Sel_CRON/PROD/RU/TS2.x/TS2.2/zz_log.TS2.2-madeheart.ru-prod-ru.html
Sel_CRON/PROD/RU/TS1.x/TS1.1/zz_log.TS1.1-madeheart.ru-prod-ru.html

# -------------------------------------------------------------------------------------


**/.idea/**

**/target/**

**/*.txt
**/*.log

**/*.png
**/*.jpg
!**/CommonFiles/_images/*.png
!**/CommonFiles/_images/*.jpg

!**/resources/images/*.png
!**/resources/images/*.jpg

**/*.ipr
**/*.iws
**/*.iml

**/untitled
**/untitled/**
